@model SudokuBoardViewModel


<div style="width: 100%; margin-top: 50px">
    <div style="float: left;  width: 20%; ">
        <p>
            Кол-во ошибок: @Html.DisplayFor(m => m.NumberOfMistakes, new
{
maxlength = "1",
size = "1",
autocomplete = "off",
style = "border:none"
})
        </p>
        <p>
            User Id: @Html.DisplayFor(m => m.UserId)
        </p>
        <p>
            Level: @Html.DisplayFor(m => m.GameLevel)
        </p>

    </div>
    <div style="width: 60%; border-left: thin solid; margin-left: 20% ">
        @using (Html.BeginForm("Index", "SudokuBoard", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.GameStatus)
            @Html.HiddenFor(m => m.changedCellCoordinates, new { @id = "changedCellCoordinates", @Name = "changedCellCoordinates" })
            <table width="450px">
                @{
                    int cellN = 0;

                }
                @for (int i = 0; i < 9; i++)
                {
                    <tr>
                        @for (int j = 0; j < 9; j++)
                        {
                            string cellNmbS = (i * 9 + j).ToString();
                            <td>

                                @Html.TextBoxFor(m => m.sudokuGrid[cellN].value,
                               new
                               {
                                   maxlength = "1",
                                   size = "1",
                                   autocomplete = "off",
                                   style = "border:none",
                                   @onkeyup = "SubmitValidCellValue(event, this.id)",
                                   @onchange = "this.form.submit()"



                               }
                               )
                                @Html.HiddenFor(m => m.sudokuGrid[cellN].XCoordinate)
                                @Html.HiddenFor(m => m.sudokuGrid[cellN].YCoordinate)

                                @{
                                    cellN++;
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        }

    </div>
    <div style="float:right; width: 20%">
        

    </div>
</div>


<script type="text/javascript">function SubmitValidCellValue(event, id) {

        changedCellCoordinates.value = id;

        var value = event.currentTarget.value;
        if ((value == "") || (1 <= value && value <= 9)) {
            document.updateForm.submit();
        } else {
            event.currentTarget.value = "";
        }
    }</script>

