@model SudokuGameViewModel


@{
    void CheckNmb()
    {

    }

}

<div class="text-center">
    <h1 class="display-4">Sudoku for Volodya</h1>
    <p>Learn about <a href="https://www.sudokuonline.io/tips/sudoku-rules">Sudoku here</a>.</p>
</div>

<form method="post" action="/SudokuGame/Index">

    @Html.HiddenFor(m => m.Grid)
    @Html.HiddenFor(m => m.FinalGrid)
    @Html.HiddenFor(m => m.GameLevel)
    @Html.HiddenFor(m => m.GameInProcess)
    hello
    <table width="550px">

        @for (int i = 0; i < 9; i++)
        {
            <tr>
                @for (int j = 0; j < 9; j++)
                {
                    string nmb = "td" + (i * 10 + j).ToString();
                    int l = i;
                    int k = j;
                    <td>


                        @if (Model.Grid[l, k] == "")
                        {
                            <input type="text"
                                   id="@nmb"
                                   value="@Model.Grid[l,k]"
                                   size="1" style="border:none"
                                   maxlength="1"
                                   oninput="this.value = this.value.replace(/[^1-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                   onchange="validateNumber(@i,@j,this.val)" />

                        }
                        else
                        {

                            <input type="text" name="@nmb" value="@Model.Grid[i,j]" size="1" style="border:none" disabled />

                        }
                    </td>


                }
            </tr>
        }
    </table>

</form>
<script type="text/javascript">function validateNumber(i, j, val) {
    aaa = @Model.Grid
    alert(aaa[i, j])


        }</script>

